.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.login-button {
  appearance: button;
  display: inline-block;
  background-color: rgb(29, 185, 84);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 17px 35px;
  margin: 20px 0px 70px;
  min-width: 160px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}
.login-button:hover {
  background-color: rgb(34, 219, 99)
}
.login-button:active {
  color: #cacaca;
  background-color: gray;
}