@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
}

.spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.spinner > div {
  background: #1ed760;
  height: 100%;
  width: 2px;
  float: left;
  margin: 0 1px;
  animation: stretch 2s infinite;
  animation-timing-function: cubic-bezier(.62,.28,.23,.99);
}

.spinner .r1 {
  animation-delay: -1s;
}

.spinner .r2 {
  animation-delay: -.9s;
}

.spinner .r3 {
  animation-delay: -.8s;
}

.spinner .r4 {
  animation-delay: -.7s;
}

.spinner .r5 {
  animation-delay: -.6s;
}

@keyframes stretch {
  0%, 20%, 49% { 
    transform: scaleY(0.4);
    background-color: #1ed760;
  }
  
  10% { 
    transform: scaleY(1.0);
  }
  
  50%, 70%, 100% { 
    transform: scaleY(0.4);
    background-color: gray;
  }
  
  60% { 
    transform: scaleY(1.0);
    background-color: gray;
  }
}